{% extends "layout.html" %}

{% block head %}
    Homepage
{% endblock %}

{% block title %}
    Homepage
{% endblock %}

{% block story_dropdown %}
    {% for x in stories %}
    <a href="/story/{{x}}"><div class="btn">{{ x }}</div></a>
    {% endfor %}
{% endblock %}


{% block body %}

<h2>WELCOME to QUEST by AEIOU!</h2>

{% if session["logged_in"] %}
<h3>Hello {{session["username"]}}, below are all stories you've added or edited to.</h3>
{% for x in watchlist %}
    <div class="btn"><a href="/story/{{x}}">{{ x }}</a></div>
{% endfor %}
{% endif %}

{% endblock %} 