<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        
        <h1>
        {% block head %}
        {% endblock %}
        </h1>

        <title>
        {% block title %}
        
        {% endblock %}
        </title>
        
        {% if session['logged_in'] %}
        <h3>
            Logged in as {{ session["username"] }}
        </h3>
        {% endif %}

        <div class="flex-container">
            <div class = "item"><a href='/'><div class = "btn">Homepage</div></a></div>

            {% if session['logged_in'] %}
            <div class = "item"><a href='/logout'><div class = "btn">Logout</div></a></div>
            <div class = "item"><a href='/edit'><div class = "btn">New Story</div></a></div>
            {% else %}
            <div class = "item"><a href='/login'><div class = "btn">Login</div></a></div>
            <div class = "item"><a href='/signup'><div class = "btn">Register</div></a></div>

            {% endif %}

            <div class="item">

                <div class="dropdown">
                    
                    <div class="btn">
                    Stories
                    </div>
      
                    <div class="dropdown-content">
                    {% block story_dropdown %}
                    {% endblock %}
                    </div>
                </div>

            </div>
        </div> 
    </head>
    
    <body>
    {% block body %}
    
    {% endblock %} 
    </body>
</html>