{% extends "layout.html" %}

{% block head %}
  Login  
{% endblock %}

{% block title %}
  Login     
{% endblock %}

{% block story_dropdown %}
    {% for x in stories %}
    <a href="/story/{{x}}">
      <div class="item">
          <div class="btn">{{ x }}</div>
      </div>
    </a>
    {% endfor %}
{% endblock %}

{% block body %}
    <h3>
      Enter Login information below to proceed.
    </h3>
    
    <form action="/login" method="POST">
      Username: <input type="text" class="content" name="username" placeholder="Enter username" required>
      <br>
      Password: <input type="password" class="content" name="password" placeholder="Enter password" required> 
      <br>
      <input type="submit"> 
    </form>
    <p>{{ error }}</p>
    <p>No account? Click <a href='/signup'>here</a></p>
{% endblock %}
