{% extends "layout.html" %}

{% block head %}
  Register       
{% endblock %}

{% block title %}
  Register     
{% endblock %}

{% block story_dropdown %}
    {% for x in stories %}
    <a href="/story/{{x}}">
      <div class="item">
          <div class="btn">{{ x }}</div>
      </div>
    </a>
    {% endfor %}
{% endblock %}

{% block body %}
    <h3>
      Create your account below
    </h3>

    <form action="/signup" method="POST">
      Username: 
      <input type="text" class="content" name="username" placeholder="Enter new username" required>
      <br>
      Password: 
      <input type="password" class="content" name="password" placeholder="Enter new password"required>
      <br>
      Confirm: 
      <input type="password" class="content" name="password2" placeholder="Confirm new password"required>
      <br>
      <input type="submit" name="sub1"> 
    </form>
    <p>{{ error }}</p>
{% endblock %}