{% extends "layout.html" %}

{% block head %}
    {{ title }}        
{% endblock %}

{% block title %}
    {{ title }}        
{% endblock %}

{% block story_dropdown %}  
    {% for x in stories %}
    <a href="/story/{{x}}">
        <div class="item">
            <div class="btn">{{ x }}</div>
        </div>
    </a>
    {% endfor %}
{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <h3>By {{ user }}</h3>
    <h3>Last edited by {{ recentuser }}</h3>
    <div class="story">
        <p>{{ content }}</p>
    </div>
    
    {% if session['logged_in'] %}
        {% if edited %}
        <h4>You've already edited this story.</h4>
        {% else %}
        <form action="/edit" method="GET">
            <input type="hidden" name="title" id="title" value="{{ title }}">
            <input type="submit" value="Edit">
        </form>
        {% endif %}
    {% endif %}

{% endblock %} 

